@model Booker.Models.Book
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "Add book";
}
<h1>Create book</h1>
@if (TempData["formValid"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["formValid"]
    </div>
}
<form method="post" asp-controller="Books" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Author" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Genre" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Genre" class="form-control" />
            <span asp-validation-for="Genre" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Create Book</button>
        </div>
    </div>@Html.AntiForgeryToken()
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}