@model Booker.Models.Book
@{
    ViewData["Title"] = "Book details";
}
<div class="form-group">
    Title: <p>@Model.Title</p>
    Author: <p>@Model.Author</p>
    Genre: <p>@Model.Genre</p>
    Price: <p>@Model.Price</p>
</div>